body {
  margin: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.outer {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f7feff;
}
#regions_div {
  margin: auto;
}
#overlay,
#overlay2 {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  max-width: 1100px;
  margin: auto;
}
#inner {
  background-color: white;
  margin: 64px;
  box-sizing: border-box;
  padding: 16px 32px;
  box-shadow: 0px 0px 12px 0px #00000075;
  height: calc(100% - 128px);
  border: 3px solid #a83232;
  border-radius: 32px;
}
.pointer {
  cursor: pointer;
  width: fit-content;
}
.flex {
  display: flex;
  height: calc(100% - 28px);
  align-items: center;
  justify-content: space-between;
}
.flex-cont {
  display: flex;
  width: 100%;
}
.country {
  max-width: 50%;
  min-width: 40%;
  width: 100%;
  padding-right: 16px;
  height: 100%;
  display: grid;
}
.overflow {
  overflow: hidden;
}
.country-img,
.animals-container,
.animal-img-cont,
.icons-cont {
  grid-row: 1;
  grid-column: 1;
}
.animals-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.animal1 {
  grid-column: 3;
  padding-top: 16px;
  align-self: end;
}
.animal2 {
  grid-column: 5;
  grid-row: 2;
  align-self: center;
}
.animal3 {
  grid-column: 2;
  grid-row: 3;
}
.animal4 {
  grid-column: 4;
  grid-row: 4;
}
.animal,
.info-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.animal:hover,
.info-icon:hover {
  transform: scale(1.2);
}
.info {
  display: flex;
  min-width: 50%;
  height: 100%;
  align-items: center;
}
#pie-chart {
  width: 100%;
}
.graphs {
  border: 2px solid black;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
}
.selection {
  border: 2px solid black;
  border-left: 4px solid white;
  margin-left: -2px;
  height: fit-content;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.option {
  padding: 5px;
}
#pie-chart {
  overflow: hidden;
}
#bars,
#area {
  width: 0;
  height: 0;
  overflow: hidden;
}
#bars-icon,
#area-icon {
  opacity: 0.2;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.link {
  font-size: 10px;
  text-align: center;
}
.link a {
  cursor: pointer;
}
.grid {
  padding-top: 16px;
  height: calc(100% - 80px);
  display: grid;
  align-items: center;
  justify-content: center;
}
.icons-cont {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.info-icon {
  width: fit-content;
  height: fit-content;
}
.icon1 {
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
  margin-top: -10px;
}
.icon2 {
  grid-row: 3;
  grid-column: 6;
  justify-self: end;
  align-self: end;
}
.icon3 {
  grid-row: 5;
  grid-column: 5;
}
.animal-info {
  width: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background-color: #c4c4c4;
  overflow: hidden;
  padding: 0px;
  font-size: 12px;
  position: absolute;
}
#info1 {
  margin-left: -60px;
  margin-top: 30px;
}
#info2 {
  right: 0;
  margin-right: 90px;
  margin-top: 360px;
}
#info3 {
  right: 0;
  margin-bottom: 230px;
  margin-right: 160px;
  bottom: 0;
}
